.card {
  background-color: var(--light-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.card > img {
  height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  padding: 1em 2em;
}

.card-content > h2 {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 300;
}

.card-content > p {
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
}

.card-content > a {
  align-self: flex-start;
}
