/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #bdbdbd;
  --secondary-color: #333333;
  --dark-color: #2c2c2c;
  --light-color: #f2f2f2;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --padding-side: 10%;
  --outline: 1px red solid;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

img {
  width: 100%;
}

.subtitle {
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: var(--primary-color);
}

.footer-section-title {
  color: var(--light-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}
